@model IList<GroupWebApp.Storage.Entities.Recipe>
    
    <h1>Рецепты</h1>

@foreach (var recipe in Model)
{ 
     <p>@recipe.Name</p>
     <img src="@System.Convert.ToBase64String(@recipe.Pic)" />
    @*  <img src="@recipe.Pic" />*@
     <p>@recipe.desc</p>
}
 